*{
	margin: 0;	
	padding: 0;
	box-sizing: border-box;
}

@font-face{
	font-family: 'DM Sans', sans-serif;
	src: url('./Deadline/DMSans-Regular.woff');
	font-weight: 400;
}

@font-face{
	font-family: 'DM Serif Text', serif;
	src: url('./Deadline/DMSerifText-Regular.woff');
	font-weight: 400;
}

.container{
	width: 1440px;
	margin: 0 auto;
}

.frame{
	width: 100%;
	background: #00486D;
	height: 51px;
}

.frame-title{
	text-align: center;
	margin-left: 334px;
	margin-bottom: 8px;
	height: 35px;
	width: 772px;
	font-weight: 400;
	font-size: 18px;
	line-height: 48px;
	color: #99B6C5;
}

.navbar{
	display: flex;	
	height: 108px;
	width: 100%	;
	background: #F2F6F7;
}

.nav-img{
	margin-top: 19px;
	margin-left: 85px;
	margin-right: 40px;
	height: 30.290922164916992px;
	width: 129.11744689941406px;


}

.nav-wrapper{
	margin-top: 20px;
	display: flex;
}



.list{
	margin-top: 20px;
	font-family: 'DM Sans';
	font-size: 19px;
	font-weight: 400;


	gap: 20px;
	display: flex;
	list-style-type: none;
}

.list-item{
	text-decoration: none;
	color: #00486D;
}

.tel-re{
	margin-top: 20px;
	display: flex;
	gap: 56px;
}

.tel{
	margin-left: 310px;
	margin-top: 22px;
	font-family: 'DM Sans';
	font-size: 17px;
	font-weight: 400;
}

.btn{
	margin-top: 15px;
	font-family: 'DM Sans';
	font-size: 18px;
	font-weight: 400;
	line-height: 35px;
	text-align: center;

	width: 186px;
	height: 35px;
	background: #00486D;
	border-radius: 4px;
	color: white;
}

.middle{
	display: flex;
	height: 753px;
	width: 1440px;
	background-color: #E4ECF0;
}

.title{
	margin-top: 155px;
	margin-left: 85px;
	margin-bottom: 25px;
	font-family: 'DM Serif Text';
	font-weight: 400;
	font-size: 55px;
	line-height: 67px;
	color: #00486D;
	height: 135px;
	width: 394px;
	left: 40px;
	top: 155px;
	border-radius: nullpx;

}

.text{
	margin-left: 85px;
	margin-bottom: 35px;
	font-family: 'DM Sans';
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #00486D;
	width: 323px;
}

.button{
	margin-left: 85px;
	border: none;
	color: #FFFFFF;;
	height: 59px;
	width: 234px;
	background: #00486D;
	border-radius: 4px;
}

.main{
	position: relative;
}

.city{
	margin-top: 55px;
	position: absolute;
	height: 800px;
	width: 595px;
	margin-left: 310px;
}

.img1{
	margin-left:385px;
	position: absolute;
	background: #00486D;
	height: 753px;
	width: 576px;
}

.cards{
	display: flex;
	justify-content: space-between;
	
}

.card-top{
	margin-top: 155px;
	margin-left: 85px;
}

.card1-title{
	height: 53px;
	width: 330px;
	font-family: 'DM Serif Text';
	font-size: 44px;
	font-weight: 400;
	line-height: 53px;
	text-align: left;
	color: #00486D;	
}

.card1-text{
	height: 84px;
	width: 605px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 42px;
	color: #00486D;
}

.card{
	margin-top: 51px;
	height: 442px;
	border: 1px solid #E4ECF0;
	box-shadow: 0px 24px 24px rgba(0, 72, 109, 0.2);
	width: 397px;
	border-radius: 2px;
}

.card-img{
	margin-top: 44px;
	margin-left: 33px;
}

.card-title1{
	height: 33px;
	width: 212px;
	font-family: 'DM Sans';
	font-size: 22px;
	font-weight: 400;
	line-height: 33px;
	text-align: left;
	margin-top: 39.56px;
	margin-left: 33px;
}

.card-text1{
	margin-left: 33px;
	margin-top: 12px;
	height: 140px;
	width: 328px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 35px;
	color: #00486D;
	margin-bottom: 39px;
}

.card-link{
	margin-top: 36px;
	margin-left: 33px;
	text-decoration: none;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 19px;
	color: #00486D;
}

/*==========================  Services  ===============================*/

.services{
	margin-top: 160px;
	margin-left: 85px;
	width: 1350px;
	height: 680.203125px;
	background: url('./service.jpg');
	background-size: cover 	;
}


.firm{
	margin-left: 930px;
	margin-top: 190px;
	padding: 56px;
	position: absolute;
	width: 423px;
	height: 491px;
	background: #00486D;
	border-radius: 2px;
	border-radius: 5px;
}

.firm-title{
	width: 220px;
	height: 84px;
	color: #F2F6F7;  	
	font-family: 'DM Serif Text';
	font-size: 35px;
	font-weight: 400;
	line-height: 42px;
	letter-spacing: 0em;
	text-align: left;

}

.firm-text{
	margin-top: 23px;
	width: 309px;
	height: 140px;
	font-family: 'DM Sans';
	font-size: 19px;
	font-weight: 400;
	line-height: 35px;
	letter-spacing: 0em;
	text-align: left;
	color: #F2F6F7;

}

.firm-btn{
	margin-top: 60px;
	border-radius: 4px;
	background: #F2F6F7;
	width: 181px;
	height: 59px;
	border: none;
	color: #00486D;
	text-align: center;
	font-size: 18px;
	font-family: 'DM Sans';
	line-height: 35px;
}

/* ====================== team  ======================  */

.team{
	position: relative;
	margin-top: 160px;
	margin-left: 85px;
}

.team-wrapper{
	display: flex;
}

.vector-l{
	position: absolute;
	margin-top: 170px;
}

.mid{
	position: absolute;
	margin-left: 359px;
	margin-top: 130px;
}

.mid p{

	width: 723px;
	color: #00486D;
	text-align: center;
	font-size: 32px;
	font-family: DM Serif Text;
	line-height: 51.2px;
}

.mid h5{
	color: #00486D;
	text-align: center;
	font-size: 15px;
	font-family: DM Sans;
	line-height: 35px;
}

.vector-r{
	position: absolute;
	margin-top: -134px;
	margin-left: 1281px;
}

/* ==================  Articles ===================== */

.articles{
	display: flex;
	justify-content: space-between;
	margin-top: 500px;
	margin-left: 85px;
}

.articles-sub{
	position: absolute;
	margin-top: 420px;
	margin-left: 85px;
	color: #00486D;
	font-size: 44px;
	font-family: 'DM Serif Text';
	line-height: 52.8px;
}

.articles-card{
	box-shadow: 0px 24px 24px 0px rgba(0, 72, 109, 0.20);
	width: 397px;
	height: 510px;
}

.a-card-img{

	width: 395px;
	height: 260px;
	margin-top: 61px;
}

.a-card-title{
	margin-top: 40px;
	color: #00486D;
	font-size: 15px;
	font-family: DM Sans;
	line-height: 19.2px;
}

.a-card-text{
	margin-top: 18px;
	width: 294px;
	height: 66px;
	color: #00486D;
	font-size: 22px;
	font-family: DM Sans;
	line-height: 33px;
}

.card-wrapper{
	display: flex;
	margin-top: 29px;
}

.link{
	text-decoration: none;
	color:#00486D;
	margin-right: 4px;
}